name: Update Huya Playlist
on:
  schedule:
    - cron: '0 */2 * * *' # Berjalan otomatis tiap 2 jam
  workflow_dispatch:      # Tombol untuk jalan manual

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests
      - name: Run script
        run: python huya_grabber.py
      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add live.m3u
          git commit -m "Update Huya Playlist" || exit 0
          git push
