name: Update Huya Playlist

on:
  schedule:
    - cron: '0 */2 * * *' # Update otomatis tiap 2 jam
  workflow_dispatch:      # Bisa klik tombol manual

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: |
          python -m pip install --upgrade pip
          pip install requests cloudscraper

      - name: Run Script
        run: python huya_grabber.py

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add -A
          git commit -m "Update Playlist: $(date)" || echo "No changes"
          git push
