name: StreamCap Huya Update
on:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Requests
        run: pip install requests
      - name: Run Scraper
        run: python huya_grabber.py
      - name: Push Changes
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "HuyaBot"
          git add live.m3u
          git commit -m "Update Huya m3u8 via StreamCap Logic" || exit 0
          git push
